:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --text-color-white: #ffffff;
  --text-color-blue: #2196f3;
  --text-address: rgba(255, 255, 255, 0.6);
  --bg-color-blue: #2196f3;
  --bg-color-white: #ffffff;
  --bg-color-black: #2f303a;
}

body {
  background-color: var(--bg-color-white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

img {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.page-header {
  background-color: var(--bg-color-white);
  border-bottom: 1px solid #ececec;
  position: relative;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-nav {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}
.logo-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-right: 93px;
}

.start {
  color: var(--text-color-blue);
}
.finish {
  color: var(--primary-text-color);
}
.start-footer {
  color: var(--text-color-blue);
}
.finish-footer {
  color: var(--text-color-white);
}
/* Главная навигация */
.site-nav {
  display: flex;
  padding: 0;
  margin-right: 305px;
  align-items: center;
  align-self: center;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  height: 16px;
}

.site-nav .link.current {
  color: var(--text-color-blue);
}
.current {
  position: relative;
}
.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-color: var(--bg-color-blue);
  top: 43px;
}
.link {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: var(--text-color-blue);
}
.link:focus {
  color: var(--text-color-blue);
}
.contacts-nav .item + .item {
  margin-left: 20px;
}
.contacts-nav {
  display: flex;
  height: 16px;
  padding: 0;
}
.link-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  align-items: center;
  height: 16px;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mail:hover {
  color: var(--text-color-blue);
  fill: var(--text-color-blue);
}
.link-mail:focus {
  color: var(--text-color-blue);
  fill: var(--text-color-blue);
}
.link-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  align-items: center;
  height: 16px;
  display: block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-phone:hover {
  color: var(--text-color-blue);
  fill: #2196f3;
}
.link-phone:focus {
  color: var(--text-color-blue);
  fill: #2196f3;
}

.item {
  align-items: center;
  align-self: center;
  height: 16px;
  display: block;
}
.mail {
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover {
  fill: #2196f3;
}
.phone {
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:hover {
  fill: #2196f3;
}

/* Секция Герой */
.section-hero {
  background-color: var(--bg-color-black);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imghero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.section-hero .hero-title {
  width: 696px;
  height: 120px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button-hero {
  height: 50px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  border: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--bg-color-blue);
  color: var(--text-color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.close-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: var(--bg-color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-content: center;
  justify-content: center;
}
.close-modal:hover {
  fill: var(--text-color-blue);
}
.close-modal:focus {
  fill: var(--text-color-blue);
}
.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.form-field:not(:nth-of-type(4)) {
  margin-bottom: 10px;
}

.input-form {
  margin: 0;
  padding: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-modal {
  position: absolute;
  top: 50%;
  left: 14px;
  display: inline-block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:focus + .icon-modal {
  fill: var(--text-color-blue);
}
.input-form:hover + .icon-modal {
  fill: var(--text-color-blue);
}
.input-form:hover {
  border: 1px solid var(--text-color-blue);
}
.input-form:focus {
  border: 1px solid var(--text-color-blue);
  outline: var(--text-color-blue);
}
.form-field label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field textarea:hover {
  border: 1px solid var(--text-color-blue);
}
.form-field textarea:focus {
  border: 1px solid var(--text-color-blue);
  outline: var(--text-color-blue);
}

.checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox-input {
  appearance: none;
  position: absolute;
}
.checkbox-input:checked + .icon-checkbox {
  background-color: var(--bg-color-blue);
  border-color: var(--bg-color-blue);
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  display: inline-block;  
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  margin-right: 7px;
}
.label-form {
  display: flex;
  align-items: center;
  margin-left: 13px;
}
.agreement {
  margin-left: 5px;
}
.label-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.agreement {
  text-decoration: underline;
  color: var(--text-color-blue);
}

.button-submit {
  display: block;
  width: 200px;
  height: 50px;
  color: var(--text-color-white);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.section-first .text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}
.section-first-list {
  display: flex;
  padding-left: 0;
}
.section-first {
  background-color: var(--bg-color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-first .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link-list:not(:last-child) {
  margin-right: 30px;
}
.box {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
}

.link-list:nth-child(1) .box {
  background-image: url(../images/v1.svg);
}
.link-list:nth-child(2) .box {
  background-image: url(../images/v2.svg);
}
.link-list:nth-child(3) .box {
  background-image: url(../images/v3.svg);
}
.link-list:nth-child(4) .box {
  background-image: url(../images/v4.svg);
}

.section-second .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}
.section-second {
  background-color: var(--bg-color-white);
  padding-bottom: 94px;
}
.foto {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.img-list:not(:last-child) {
  margin-right: 30px;
}
.section-third {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-section {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}
.team-list:not(:last-child) {
  margin-right: 30px;
}
.team-list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  height: 428px;
}
.product {
  position: relative;
}
.product-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  left: 0;
  right: 0;
  color: #ffffff;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
}

.section-third .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.section-third .name-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}
.section-third .text-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.section-four {
  background-color: var(--bg-color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-clients {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.client {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client:hover {
  fill: var(--text-color-blue);
  border-color: var(--text-color-blue);
}
.client:focus {
  fill: var(--text-color-blue);
  border-color: var(--text-color-blue);
}

.client-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/* Футер */
.footer {
  background-color: var(--bg-color-black);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  width: 145px;
  height: 31px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: inline-block;
}
.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--bg-color-black);
  color: var(--text-color-white);
}
.address-list:not(:last-child) {
  margin-bottom: 9px;
}
.address-list:first-child {
  margin-top: 20px;
}

.address .link {
  color: var(--text-address);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link:hover {
  color: var(--text-color-blue);
}
.address .link:focus {
  color: var(--text-color-blue);
}
.main-footer {
  display: flex;
  align-items: baseline;
}
.footer-first {
  margin-right: 70px;
}
.footer-second {
  margin-right: 93px;
}
.title-footer {
  color: var(--text-color-white);
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.social-networks {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;

  margin-left: auto;
  margin-right: auto;
}
.networks {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: white;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks:hover {
  background-color: var(--bg-color-blue);
  fill: white;
}
.networks:focus {
  background-color: var(--bg-color-blue);
  fill: white;
}

.network-list:hover {
  background-color: var(--bg-color-blue);
  fill: white;
}
.network-list:focus {
  background-color: var(--bg-color-blue);
  fill: white;
}
.network-list {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social {
  display: block;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-third {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
}
.form-label {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 20px;
  cursor: pointer;
}

.form-input {
  display: inline-block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  margin: 0;
  margin-right: 24px;
  background-color: transparent;
  color: var(--text-color-white);
}

.input-button {
  display: flex;
  margin-right: 0;
}

.submit-button {
  display: flex;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  padding-left: 29px;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
  cursor: pointer;
}
.submit-button::after {
  content: '';
  background-image: url(../images/iconsend.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Портфолио */

.button-link .button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  border-radius: 4px;
  border-color: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-link .button:focus {
  background-color: var(--bg-color-blue);
  color: var(--text-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-link .button:hover {
  background-color: var(--bg-color-blue);
  color: var(--text-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-list:not(:last-child) {
  margin-right: 8px;
}

.window {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pictures {
  position: relative;
  overflow: hidden;
}
.future-link:hover .window,
.future-link:focus .window {
  bottom: 0;
  opacity: 1;
}
.button-link {
  padding-top: 94px;
  padding-bottom: 50px;
}
.futures-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.futures-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-between;
  padding-bottom: 94px;
}
.futures-list .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 0;
  margin-top: 0;
}
.item-futures {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-top: 0;
}

.future-link {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  display: block;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.future-link:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.future-link:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.div-list {
  padding: 20px 24px;
  width: 370px;
}
.futures-list .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 4px;
  margin-bottom: 0;
}
.item-futures:nth-child(3n + 1) {
  margin-left: 0;
}
.item-futures:nth-child(n + 7) {
  margin-bottom: 0;
}
